/* Main Menu Styling */
li {
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 1%;
  margin-top: 15%;
  border: 1px solid black;
}
ul li p {
  padding: 15%;
  margin: 0;
  background-color: #fff; /* paragraph initial value for the transition to work */
  transition: background-color: 1000ms; /*add transition */

}
.red {
  background-color: #123; /* For the red class add the hex value for whatever color you choose  */
  transition: background-color: 1000ms; /*add transition note: it doesn't have to be a background color it could be a width
  or height */
}
